---
import HomepageTab from "@/layouts/function-components/HomepageTab";
import VideoComponent from "@/layouts/function-components/VideoComponent";
import { AiFillCheckCircle, AiFillCheckSquare } from "react-icons/ai";
import { Image } from "astro:assets";
const { service } = Astro.props;
const { homepage_tab, our_service } = service;
---

<section class="section services">
  <div class="container">
    <HomepageTab client:load homepage_tab={homepage_tab} />
  </div>
</section>
