---
import HomepageTab from "@/layouts/function-components/HomepageTab";
const { service } = Astro.props;
const { homepage_tab } = service;
---

<section class="section services">
  <div class="container">
    <HomepageTab client:load homepage_tab={homepage_tab} />
  </div>
</section>
